<div class="container">
  <!-- <a class="btn btn-primary" [routerLink]="['/addBugTemplate']">Add Bug Template</a>
  <a class="btn btn-primary" [routerLink]="['/addBugReactive']">Add Bug Reactive</a>
  <a class="btn btn-primary" [routerLink]="['/bug']">Add Bug</a> -->

  <h3>Bug List</h3>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col" (click)="sortBy('title')">Title
          <i [class]="getOrderClass('title')"></i>
        </th>
        <th scope="col" (click)="sortBy('description')">Description
          <i [class]="getOrderClass('description')"></i>
        </th>
        <th scope="col" (click)="sortBy('priority')">Priority
          <i [class]="getOrderClass('priority') "></i>
        </th>
        <th scope="col " (click)="sortBy('reporter') ">Reporter
          <i [class]="getOrderClass('reporter') "></i>
        </th>
        <th scope="col " (click)="sortBy('createdAt') ">Date Created
          <i [class]="getOrderClass('createdAt') "></i>
        </th>
        <th scope="col " (click)="sortBy('status') ">Status
          <i [class]="getOrderClass('status') "></i>
        </th>
        <th scope="col " (click)="sortBy('status') ">Action
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let bug of bugs;let i=index ">
        <tr>
          <td>{{i + 1}}.</td>
          <td>{{bug.title}}</td>
          <td>{{bug.description}}</td>
          <td>{{bug.priority | keyValueMap: formOptionsService.getPrioritiesOptions()}}</td>
          <td>{{bug.reporter | keyValueMap: formOptionsService.getReporterOptions()}}</td>
          <td>{{bug.createdAt | date:'dd/MM/yyyy'}}</td>
          <td>{{bug.status | keyValueMap: formOptionsService.getStatusOptions()}}</td>
          <td>
              <button class="btn btn-primary fa fa-pencil" [routerLink]="['/bug', bug.id]" style="font: normal normal normal 17px/1.5 FontAwesome !important;"></button>
              <button class="btn btn-success fa fa-comment" style="font: normal normal normal 17px/1.5 FontAwesome !important;" [disabled]="bug.comments.length == 0" (click)="bug.displayComment = !bug.displayComment"></button>
          </td>
        </tr>

        <tr *ngIf="bug.displayComment">
          <td colspan="8">
            <table style="width: 97%;border: 2px solid lightgray">
              <thead style=" line-height: 0.5; background-color: lightgray ">
                <th>Comment</th>
                <th>Reporter</th>
                <th>Description</th>
              </thead>
              <tbody>
                <tr *ngFor="let comment of bug.comments; let i=index">
                  <td>{{i + 1}}</td>
                  <td>{{comment.reporter}}</td>
                  <td>{{comment.description}}</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>

      </ng-container>
    </tbody>
  </table>


  <div style="margin-bottom: 50px">
  </div>


</div>
