<div class="container">
  <a class="btn btn-primary" [routerLink]="['/addBugTemplate']">Add Bug</a>
  <a class="btn btn-primary" [routerLink]="['/addBugReactive']">Add Bug Reactive</a>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col" (click)="sortBy('title')">Title
          <i [class]="getOrderClass('title')"></i>
        </th>
        <th scope="col" (click)="sortBy('description')">Description
          <i [class]="getOrderClass('description')"></i>
        </th>
        <th scope="col" (click)="sortBy('priority')">Priority
          <i [class]="getOrderClass('priority') "></i>
        </th>
        <th scope="col " (click)="sortBy('reporter') ">Reporter
          <i [class]="getOrderClass('reporter') "></i>
        </th>
        <th scope="col " (click)="sortBy('createdAt') ">Date Created
          <i [class]="getOrderClass('createdAt') "></i>
        </th>
        <th scope="col " (click)="sortBy('status') ">Status
          <i [class]="getOrderClass('status') "></i>
        </th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bug of bugs;let i=index ">
        <td>{{i + 1}}.</td>
        <td>{{bug.title}}</td>
        <td>{{bug.description}}</td>
        <td>{{bug.priority | keyValueMap: formOptionsService.getPrioritiesOptions()}}</td>
        <td>{{bug.reporter | keyValueMap: formOptionsService.getReporterOptions()}}</td>
        <td>{{bug.createdAt | date:'dd/MM/yyyy'}}</td>
        <td>{{bug.status | keyValueMap: formOptionsService.getStatusOptions()}}</td>
        <td>
            <button type="button" class="btn" click="">Edit</button>
            <button type="button" class="btn">Add Comment</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
